/* DirectorNavbar.css */

.navbar-container {
    display: flex;
    justify-content: flex-start; /* Align to the left */
    padding: 16px 24px; /* Adjust padding as needed */
    background-color: #f7f7f7; /* Change as needed */
  }
  
  .navbar-links {
    display: flex;
    gap: 32px; /* Space between links */
    /* margin-bottom: 40px; */
    border-bottom: 1px solid #e2e8f0;
    padding-bottom: 12px;
  }
  
  /* Styling for links */
  .navbar-links a,
  .navbar-links .active {
    color: #4a5568;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 4px;
  }
  
  .navbar-links a {
    color: #4a4a4a; /* Default link color */
    transition: color 0.3s; /* Smooth transition for color */
  }
  
  .navbar-links a:hover,
  .navbar-links .active {
    color: #1a202c;
  border-bottom: 2px solid #3182ce;
  cursor: pointer;
  }
  .view-button {
    margin-top: 16px;
    color: #4a5568;
    border-color: #4a5568;
  }
  
  .view-button:hover {
    background-color: #e2e8f0;
    border-color: #2b6cb0;
  }