/* Header styling */
.header-text {
    font-size: 26px;
        font-weight: bold;
        color: #2d3748;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 32px;
}
  
/* Application container styling */
.app-container {
    padding: 40px;
}
  
/* Pending review card styling */
.pending-review-card {
    padding: 16px;
    border-radius: 8px;
    background-color: #f7fafc;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-left: 6px solid #007BFF; /* Fixed blue border */
    min-height: 280px;
}
  
/* Flexbox for buttons */
.button-container {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}


.buttonone:hover{
    background-color: #225ea8;
    color: white;
}
  
/* Responsive behavior for smaller screens */
@media (max-width: 768px) {
    .app-container {
        grid-template-columns: repeat(1, minmax(0, 1fr)); /* Single column on smaller screens */
    }
}
