/* Header styling */
.header-text {
  font-size: 28px;
  font-weight: 700;
  color: #2d3748;
  letter-spacing: 0.5px;
  padding-left: 40px;
  margin-bottom:-30px;
  margin-top: 0px;
}
 
/* General card styling */
.saved-draft-card {
  background-color: #f7fafc;
  border-radius: 12px;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

/* Grid container for cards */
.application-container {
  display: grid;
  gap: 32px;
}

/* Card title styling */
.card-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2px;
  text-align: left;
}

/* Card details styling */
.card-details {
  font-size: 15px; 
  color: #6b7280;
  font-weight: 400;
}

/* Button styling */
.button {
  margin-top: 20px;
  font-size: 14px;
  color: #3182ce;
  border-color: #3182ce;
}

.button:hover {
  background-color: #ebf8ff;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .application-container {
    grid-template-columns: 1fr; /* Single column on smaller screens */
  }
}
