.dashboard-card {
  background-color: var(--card-background);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-card:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0);
}

.dashboard-card-title {
  display: flex;
  align-items: left;
}

.icon {
  margin-right: 8px;
}
