/* Page title */
.page-t-title {
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #333;
  font-weight: 700;
  text-align: center;
}

/* Card styling for table */
.table-card {
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #fff;
}

/* Table styling */
.downloads-table {
  width: 100%;
  border-collapse: collapse;
}

.downloads-table th, 
.downloads-table td {
  text-align: center;
  padding: 7px;
  font-size: 1rem;
  color: #444;
  vertical-align: middle; /* Centers content vertically */
}

/* Header styling */
.downloads-table thead th {
  font-weight: 600;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
}

/* Row hover effect */
.downloads-table tr:hover {
  background-color: #f8f9fa;
}

/* Button styling */
.download-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: #0073e6;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-button:hover {
  background-color: #0268ce; /* Bright blue */
  color: #fff;
}
