/* General Styles */
.dashboard-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* Overview Section */
.overview-section {
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin: 32px;
  background-color: #ffffff;
  line-height: 1.6;
}

.overview-icon {
  margin-left: 8px;
  vertical-align: middle;
  color: #4c6ef5;
}

.overview-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.overview-text {
  font-size: 14px;
  color: #374151;
  margin-bottom: 1rem;
  line-height: 1.75;
}

/* Divider styling */
.overview-section .mantine-Divider-root {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #d1d5db;
  height: 1px;
}

/* Enhanced Features List */
.features-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.feature-item {
  display: flex;
  align-items: flex-start;
  background-color: #f7fafc;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.feature-item:hover {
  transform: translateY(-2px);
}

.icon-and-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.feature-icon {
  color: #4c6ef5;
}

.feature-title {
  font-size: 14px;
  color: #333;
}

.feature-description {
  font-size: 14px;
  color: #555;
  margin-left: 2rem;
  line-height: 1.5;
}

/* General card styling */
.dashboard-card {
  background-color: #fff;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-left: 6px solid transparent;
    transition: box-shadow 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
    text-align: left;
    cursor: pointer;
}

.dashboard-card:hover {
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
  
  transform: translateY(-5px);
}

.dashboard-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dashboard-grid {
  padding: 1rem;
}

/* Card Divider */
.card-divider {
  margin: 8px 0;
  background-color: #e5e7eb;
}

/* Button Style */
.dashboard-button {
  color: #0073e6;
    background-color: #ffffff;
    border: 1px solid #0073e6;
    font-weight: 500;
    padding: 1px;
    margin-top: 1rem;
}

.dashboard-button:hover {
background-color: #0073e6;
  color: #ffffff;
}


