/* General Container */
.outerContainer {
  max-width: 100%;
  padding: 32px; /* Adjusted padding as per standard */
  background-color: #f9fafc;
  margin-left: 25px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
   font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  color: blue;
}
.title span{
  color: black;
}
.content {
  text-align: left;
  /* margin-bottom: 0px; */
}

.content .description {
  font-size: 14px; /* Standardized normal text size */
  color: #555;
  /* margin-bottom: 0px; */
  align-items: center;
}

/* Table Styling */
.styledTable {
  width: 100%;
  font-size: 14px;
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 0 8px;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
}

.fusionTableHeader {
  background-color: #e9f1f7;
  color: #1c7ed6;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 2px solid #1c7ed6;
}

.fusionTableHeader th {
  padding: 14px 18px;
  text-align: left;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tableRow {
  background-color: #ffffff;
  border-radius: 8px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

/* .tableRow:hover {
  background-color: #e3e7ea;
  transform: translateY(-3px);
} */

.viewButton {
  display: flex;
  align-items: center;
  gap: 6px;
 
  font-weight: 600;
  transition: color 0.2s ease, transform 0.2s ease;
}

/* .viewButton:hover {
  color: #155a9e;
  transform: scale(1.1);
} */

/* Card Styling */
.r-app-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px; /* Increased gap as per spacing standards */
  justify-content: flex-start;
}

.r-application-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 32px);
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 280px; /* Increased height for a uniform look */
}

.r-application-card:hover {
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
  
  transform: translateY(-5px);
}

.card-header {
  font-size: 1.4rem; /* Adjusted for emphasis */
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.r-card-details {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 6px;
}

.r-button {
  color: #0073e6;
    background-color: #ffffff;
    border: 1px solid #0073e6;
    font-weight: 500;
    padding: 1px;
}

/* Responsive Design for Cards */
@media (max-width: 768px) {
  .r-application-card {
    width: 100%;
  }
}
