/* NewAttorneyForm.css */

.new-attorney-form-container {
    max-width: 800px;
    margin: 0 auto;
    /* padding: 32px; */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 32px;
  }
  
  .input-group {
    margin-bottom: 16px;
    width: 100%;
  }
  
  .form-input {
    width: 90%;
    font-size: 14px;
  }
  
  .submitbutton {
    margin-top: 32px;
    font-size: 14px;
    /* background-color: blue; */
  }
  